/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Columns */
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: calc(100% - 2px);
}

.col-1 {
  flex: 0 0 calc(100% / 12 - 2px);
  max-width: calc(100% / 12 - 2px);
}

.col-2 {
  flex: 0 0 calc((100% / 12) * 2 - 2px);
  max-width: calc((100% / 12) * 2 - 2px);
}

.col-3 {
  flex: 0 0 calc((100% / 12) * 3 - 2px);
  max-width: calc((100% / 12) * 3 - 2px);
}

.col-4 {
  flex: 0 0 calc((100% / 12) * 4 - 2px);
  max-width: calc((100% / 12) * 4 - 2px);
}

.col-5 {
  flex: 0 0 calc((100% / 12) * 5 - 2px);
  max-width: calc((100% / 12) * 5 - 2px);
}

.col-6 {
  flex: 0 0 calc((100% / 12) * 6 - 2px);
  max-width: calc((100% / 12) * 6 - 2px);
}

.col-7 {
  flex: 0 0 calc((100% / 12) * 7 - 2px);
  max-width: calc((100% / 12) * 7 - 2px);
}

.col-8 {
  flex: 0 0 calc((100% / 12) * 8 - 2px);
  max-width: calc((100% / 12) * 8 - 2px);
}

.col-9 {
  flex: 0 0 calc((100% / 12) * 9 - 2px);
  max-width: calc((100% / 12) * 9 - 2px);
}

.col-10 {
  flex: 0 0 calc((100% / 12) * 10 - 2px);
  max-width: calc((100% / 12) * 10 - 2px);
}

.col-11 {
  flex: 0 0 calc((100% / 12) * 11 - 2px);
  max-width: calc((100% / 12) * 11 - 2px);
}

.col-12 {
  flex: 0 0 calc((100% / 12) * 12 - 2px);
  max-width: calc((100% / 12) * 12 - 2px);
}

/* Offsets */
.col-offset-1 {
  margin-left: calc(100% / 12 - 2px);
}

.col-offset-2 {
  margin-left: calc((100% / 12) * 2 - 2px);
}

.col-offset-3 {
  margin-left: calc((100% / 12) * 3 - 2px);
}

.col-offset-4 {
  margin-left: calc((100% / 12) * 4 - 2px);
}

.col-offset-5 {
  margin-left: calc((100% / 12) * 5 - 2px);
}

.col-offset-6 {
  margin-left: calc((100% / 12) * 6 - 2px);
}

.col-offset-7 {
  margin-left: calc((100% / 12) * 7 - 2px);
}

.col-offset-8 {
  margin-left: calc((100% / 12) * 8 - 2px);
}

.col-offset-9 {
  margin-left: calc((100% / 12) * 9 - 2px);
}

.col-offset-10 {
  margin-left: calc((100% / 12) * 10 - 2px);
}

.col-offset-11 {
  margin-left: calc((100% / 12) * 11 - 2px);
}

/* Alignments */
.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

/* Margins */
.mt-20 {
  margin-top: 20px;
}