/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.d-flex {
  display: flex;
}

/* Containers */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

/* Columns */
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: calc(100%);
}

.col-1 {
  flex: 0 0 calc(100% / 12);
  max-width: calc(100% / 12);
}

.col-2 {
  flex: 0 0 calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}

.col-3 {
  flex: 0 0 calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}

.col-4 {
  flex: 0 0 calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}

.col-5 {
  flex: 0 0 calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}

.col-6 {
  flex: 0 0 calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}

.col-7 {
  flex: 0 0 calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}

.col-8 {
  flex: 0 0 calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}

.col-9 {
  flex: 0 0 calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}

.col-10 {
  flex: 0 0 calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}

.col-11 {
  flex: 0 0 calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}

.col-12 {
  flex: 0 0 calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

/* Offsets */
.col-offset-1 {
  margin-left: calc(100% / 12);
}

.col-offset-2 {
  margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
  margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
  margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
  margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
  margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
  margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
  margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
  margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
  margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
  margin-left: calc((100% / 12) * 11);
}

/* Alignments */
.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.content-start {
  align-content: flex-start;
}

.content-center {
  align-content: center;
}

.content-end {
  align-content: flex-end;
}

.self-top {
  align-self: flex-start;
}

.self-middle {
  align-self: center;
}

.self-bottom {
  align-self: flex-end;
}

/* Margins */
.mt-20 {
  margin-top: 20px;
}