body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

/* Header */
header {
  padding: 50px;
  color: #000;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  font-weight: 700;
}

.main-nav__menu {
  list-style-type: none;
  gap: 50px;
}

.main-nav__menu-item-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 2px;
}

.main-nav__menu-item-link::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 4px;
  background-color: #000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.main-nav__menu-item-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Jumbo */
.jumbo {
  padding-top: 80px;
}

.jumbo h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5em;
}

.jumbo p {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 50px;
}

/* Products */
.card {
  background-image: url('../img/product-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 800px;
  margin-top: 100px;
}

.card__content {
  padding: 80px;
  color: #fff;
}

.card__title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 400px;
}

/* Buttons */
.btn {
  background-color: transparent;
  color: #000;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--watch {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn--watch::after {
  padding-left: 15px;
  content: '\f04b';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.btn--story {
  background-color: transparent;
  color: #000;
  border: none;
}

.btn--learn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  padding: 10px 12px;
}

.btn--menu {
  border: none;
  padding: 0;
  font-size: 1rem;
}