body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

/* Header */
header {
  padding: 50px;
  color: #000;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  font-weight: 700;
}

.main-nav__menu {
  list-style-type: none;
  gap: 50px;
}